# generic files to ignore
# backup files (*~) and vim swap file (.swp), MacOS dir file (.DS_Store)
*.~
*~
*.lock
*.DS_Store
*.swp
*.out
*.iml

#IDE files to ignore (Netbeans, Eclipse)
nbproject/private/
.classpath
.project
.settings
.idea

#ignore generated .class files
*.class

#except this file
!.gitignore

#ignore maven target output
target/

